// Disabled items
$opacity-disabled-percentage: 33%;
$opacity-disabled-decimal: 0.33;
// Merest hint of transparency
$opacity-hint-percentage: 90%;
$opacity-hint-decimal: 0.9s;
// Modal backdrop
$opacity-backdrop-percentage: 50%;
$opacity-backdrop-decimal: 0.5;
// Image overlay
$opacity-overlay-percentage: 33%;
$opacity-overlay-decimal: 0.33;
// Drop shadows
$opacity-shadow-percentage: 50%;
$opacity-shadow-decimal: 0.5;
// Error messaging
$opacity-failure-percentage: 15%;
$opacity-failure-decimal: 0.15;