%theme-eastbay {
  background-color: $clr_lx-eastbay;
  color: $clr_weiss;
}

%theme-havelock {
  background-color: $clr_lx-havelock;
  color: $clr_weiss;
}

%theme-tomato {
  background-color: $clr_lx-tomato;
  color: $clr_weiss;
}

%theme-scorpion {
  background-color: $clr_faze-scorpion;
  color: $clr_weiss;
}

%theme-persimmon {
  background-color: $clr_faze-persimmon;
  color: $clr_weiss;
}

%theme-feijoa {
  background-color: $clr_faze-feijoa;
  color: $clr_weiss;
}

%theme-biloba {
  background-color: $clr_faze-biloba;
  color: $clr_weiss;
}

%theme-amber {
  background-color: $clr_faze-amber;
  color: $clr_weiss;
}