// Brand colors
$clr_lx-eastbay: #3d5980;
$clr_lx-gull: #99a5b9;
$clr_lx-athens: #e1e4ea;
$clr_lx-havelock: #4a90e2;
$clr_lx-bachelor: #a5c3ec;
$clr_lx-tomato: tomato;

// Graphs and Charts
$clr_faze-scorpion: #585858;
$clr_faze-persimmon: #fc6e51;
$clr_faze-feijoa: #a0d468;
$clr_faze-biloba: #ad94ed;
$clr_faze-amber: #f5bd00;

// Disabled elements
$clr_disabled-background: #eeeeee;
$clr_disabled-foreground: #666666;

// Color hierarchy
$clr_brand-primary-standard: $clr_lx-eastbay;
$clr_brand-primary-light: $clr_lx-athens;
$clr_brand-secondary-standard: $clr_lx-havelock;
$clr_brand-secondary-light: $clr_lx-bachelor;